.odd {
  background-color: hsl(350, 87%, 76%);
  font-style: "Verdana", "DejaVu Sans", "sans-serif";
}

#second {
  color: blue;
  font-size: 36px;
}

.odd.third {
  font-size: 24px;
}

#fourth {
  background-color: green;
  font-size: 24px;
  font-weight: bold;
}