body {
  background: #eee;
  font-family: sans-serif;
  font-size: 16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding-top: 10px;
  padding-right: 9px;
  padding-left: 9px;
  padding-bottom: 9px;
}

.title {
  background: #e3f4ff;
  padding: 10px;
  font-size: 15px;
  margin: 10px auto;
}

.content {
  background: #e3f4ff;
  margin: 10px auto;
  padding: 15px;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  padding: 9px;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 10px 25px;
  margin-left: auto;
  margin-right: auto;
}